.sidebar {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.bar-img-container {
    text-align: center;
    display: block;
}

.bar-img {
    width: 70px;
}

.dd-link {
    font-size: 20px;
    text-decoration: none;
    color: #08051a;
}

.dd-group:hover .dd-link{
    color: #08051a;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

.dd-list {
    transition: max-height 0.3s;
    overflow: hidden;
    max-height: 0;
}

.dd-list-open {
    max-height: 300px;
}

.bar-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 20%;
    color: rgb(5, 57, 105);
    text-align: center;
}

.main {
    display: block;
    margin-left: 20%;
}

#app-frame {
    position: fixed;
    width: 80%;
    height: 100%;
    border: none;
}